<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Common/Fonts/esamanru-OTF-Bold.otf</string>
		<string>Common/Fonts/esamanru-OTF-Medium.otf</string>
		<string>Common/Fonts/esamanru-OTF-Light.otf</string>
		<string>Common/Fonts/Pretendard-Black.otf</string>
		<string>Common/Fonts/Pretendard-Regular.otf</string>
		<string>Common/Fonts/Pretendard-Medium.otf</string>
		<string>Common/Fonts/Pretendard-Light.otf</string>
		<string>Common/Fonts/Pretendard-ExtraBold.otf</string>
		<string>Common/Fonts/Pretendard-Bold.otf</string>
		<string>Common/Fonts/Pretendard-Thin.otf</string>
		<string>Common/Fonts/Pretendard-ExtraLight.otf</string>
		<string>Common/Fonts/Pretendard-SemiBold.otf</string>
	</array>
</dict>
</plist>
